In [202]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

%matplotlib inline
%run f2forecast.py
import xlwings as xw

In [390]:
df=pd.read_excel("Общежитие №12А декабрь 2017г..xlsx",sheet_name='Лист1')

In [391]:
df.head()

,Профиль №1 с 01.12.17 по 31.12.17,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"Счетчик № 0811092688, Точка учета - Общежитие 12А",NaN,NaN,NaN,NaN,NaN,NaN
1,Сохранен 09.01.18 10:58:04,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Дата,Время,"A+, кВт","A-, кВт","R+, квар","R-, квар",Статус
4,2017-12-01 00:00:00,00:00-01:00,19.824,0,2.328,0,NaN

In [392]:
for i in range(4):
    df = df.drop(df.index[0])

In [393]:
df.head()

,Профиль №1 с 01.12.17 по 31.12.17,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
4,2017-12-01 00:00:00,00:00-01:00,19.824,0,2.328,0,NaN
5,2017-12-01 00:00:00,01:00-02:00,21.768,0,2.208,0,NaN
6,2017-12-01 00:00:00,02:00-03:00,28.272,0,2.376,0,NaN
7,2017-12-01 00:00:00,03:00-04:00,26.592,0,2.88,0,NaN
8,2017-12-01 00:00:00,04:00-05:00,30.048,0,2.856,0,NaN

In [394]:
df = df.reset_index(drop=True)

In [395]:
Data = [];
Cons = [];
for i in range (len(df['Профиль №1 с 01.12.17 по 31.12.17'])):
    Data.append(df['Профиль №1 с 01.12.17 по 31.12.17'][i]+timedelta(hours=int(df['Unnamed: 1'][i][0:2])))
    Cons.append(df['Unnamed: 2'][i])

In [396]:
df = pd.read_excel("Ставка.xlsx",sheet_name='Лист12')

In [397]:
Stav = []
for i in range(len(df)):
    for j in range(24):
        Stav.append(df.loc[i][j])

<h1>Погода

In [381]:
df = pd.read_excel("30710.01.01.2017.31.12.2017.1.0.0.ru.utf8.00000000.xls")

In [382]:
df.head()

,Местное время в Иркутске,T,Po,P,Pa,U,DD,Ff,ff10,ff3,...,Cm,Ch,VV,Td,RRR,tR,E,Tg,E',sss
0,31.12.2017 23:00,-14.4,732.3,778.7,1.3,86,"Ветер, дующий с западо-северо-запада",2,NaN,NaN,...,NaN,NaN,NaN,-16.3,NaN,NaN,NaN,NaN,NaN,NaN
1,31.12.2017 20:00,-15.6,731.0,777.6,2.2,85,"Ветер, дующий с северо-запада",2,NaN,NaN,...,NaN,NaN,NaN,-17.6,0.6,12.0,NaN,NaN,NaN,NaN
2,31.12.2017 17:00,-15.1,728.8,775.3,1.2,82,"Ветер, дующий с северо-запада",1,NaN,NaN,...,NaN,NaN,4.0,-17.5,NaN,NaN,NaN,NaN,NaN,NaN
3,31.12.2017 14:00,-15.3,727.6,773.9,0.3,79,"Ветер, дующий с северо-запада",1,NaN,NaN,...,"Высококучевых, высокослоистых или слоисто-дожд...",Перистые (часто в виде полос) и перисто-слоист...,4.0,-18.1,NaN,NaN,NaN,NaN,NaN,NaN
4,31.12.2017 11:00,-17.8,727.3,774.1,0.7,84,"Ветер, дующий с северо-запада",1,NaN,NaN,...,"Высококучевых, высокослоистых или слоисто-дожд...",Перистые (часто в виде полос) и перисто-слоист...,10.0,-19.8,NaN,NaN,NaN,NaN,NaN,NaN

In [383]:
#weather 
Temp=[]
Po = []
P = []
Pa = []
U = []
Ff = []
i = len(df['T'])-1;
while(i>-1):
    Temp.append(df['T'][i])
    Temp.append(df['T'][i])
    Temp.append(df['T'][i])
    Po.append(df['Po'][i])
    Po.append(df['Po'][i])
    Po.append(df['Po'][i])
    P.append(df['P'][i])
    P.append(df['P'][i])
    P.append(df['P'][i])
    Pa.append(df['Pa'][i])
    Pa.append(df['Pa'][i])
    Pa.append(df['Pa'][i])
    U.append(df['U'][i])
    U.append(df['U'][i])
    U.append(df['U'][i])
    Ff.append(df['Ff'][i])
    Ff.append(df['Ff'][i])
    Ff.append(df['Ff'][i])
    i-=1
print(len(Temp))

8760

<h1>Заполнение ДФ

In [384]:
Temp=Temp[7296:8760]
Po = Po[7296:8760]
P = P[7296:8760]
Pa = Pa[7296:8760]
U = U[7296:8760]
Ff = Ff[7296:8760]
print(len(Temp))

1464

In [398]:
#weather for current mounth
Tempc=Temp[0:len(Cons)]
Poc = Po[0:len(Cons)]
Pc = P[0:len(Cons)]
Pac = Pa[0:len(Cons)]
Uc = U[0:len(Cons)]
Ffc = Ff[0:len(Cons)];
#for i in range(len(Cons)):
  #  Tempc[i]=Temp.pop([i])
   # Poc.append(Po.pop([i]))
  #  Pc.append(P.pop([i]))
  #  Pac.append(Pa.pop([i]))
  #  Uc.append(U.pop([i]))
  #  Ffc.append(Ff.pop([i]))
print(len(Temp))
del Temp[0:len(Cons)]
del Po[0:len(Cons)]
del P[0:len(Cons)]
del Pa[0:len(Cons)]
del U[0:len(Cons)]
del Ff[0:len(Cons)]
print(len(Temp))

744
0

In [399]:
print(len(Uc),len(Poc),len(Data),len(Cons),len(Stav))

744 744 744 744 744

In [400]:
df = pd.DataFrame({'Data': Data, 
                   'Потребление':Cons , 
                   "Ставка":Stav,
                    "T":  Tempc,
                    "Po ": Poc,
                   " P ":  Pc,
                    "Pa ": Pac,
                   " U ":  Uc,
                    "Ff ": Ffc})

In [401]:
df.to_excel("Декабрь.xlsx")

In [402]:
print(df['Data'])

0     2017-12-01 00:00:00
1     2017-12-01 01:00:00
2     2017-12-01 02:00:00
3     2017-12-01 03:00:00
4     2017-12-01 04:00:00
              ...
739   2017-12-31 19:00:00
740   2017-12-31 20:00:00
741   2017-12-31 21:00:00
742   2017-12-31 22:00:00
743   2017-12-31 23:00:00
Name: Data, Length: 744, dtype: datetime64[ns]