In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
%run f2forecast.py

In [3]:
df=pd.read_excel("DatWinterValid.xlsx")
df.head()

   Unnamed: 0                Data  Потребление   Ставка  Температура  Время
0           0 2017-12-01 00:00:00       19.824  2369.47        -13.4      0
1           1 2017-12-01 01:00:00       21.768  2377.11        -13.4      1
2           2 2017-12-01 02:00:00       28.272  2383.17        -13.4      2
3           3 2017-12-01 03:00:00       26.592  2387.40        -12.1      3
4           4 2017-12-01 04:00:00       30.048  2398.73        -12.1      4

In [39]:
ConsWith = []
Stav = []
WorkOrHolid = []

for i in range(len(df["Ставка"])):
    ConsWith.append(df['Потребление'][i])
    Stav.append(df['Ставка'][i])
    #if((i<47) or (96<i<216) or (264<i<384) or (432<i<552) or (600<i<700)):
        #WorkOrHolid.append(1)
    #else:
        #WorkOrHolid.append(0)
print(df["Data"][217:336])
#Cons without holiyday
FirstWeek = ConsWith[0:24];
#WeekendsFirstWeek = [24:48];
SecondWeek = ConsWith[48:168];
#WeekendsSecondWeek = [168:216];
ThirdWeek = ConsWith[216:336];
#WeekendsThirdWeek = [336:384];
FourWeek = ConsWith[384:504];
#WeekendsFourWeek = [504:552];
FiveWeek = ConsWith[552:672];
#WeekendsFiveWeek = ConsWith[672:720];
LastWeek = ConsWith[720:744];
Cons = FirstWeek + SecondWeek + ThirdWeek + FourWeek + FiveWeek + LastWeek;

217   2017-12-10 01:00:00
218   2017-12-10 02:00:00
219   2017-12-10 03:00:00
220   2017-12-10 04:00:00
221   2017-12-10 05:00:00
              ...
331   2017-12-14 19:00:00
332   2017-12-14 20:00:00
333   2017-12-14 21:00:00
334   2017-12-14 22:00:00
335   2017-12-14 23:00:00
Name: Data, Length: 119, dtype: datetime64[ns]